

.return-product-list {
    width: 100%;
    table-layout: fixed;
}

.return_product_header {
    background-color: #7f82ac;
    color: #fff;
    height: 40px;
}

.return_product_body {
    height: 40px;
}

#entered_item_qty {
	height: 35px;
	width: 30%;
	min-height: 0px;
}

.return-product-list-contents {
    display: block;
    width: 468px;
}    

.pos .clientlist-screen .searchbox {
    left: 37% !important;
}
.pos .clientlist-screen .button.new-customer {
    margin-left: 10px;
}



















